[submodule "roles/mysql"]
	path = roles/mysql
	url = https://github.com/oxivanisher/role-mysql.git
[submodule "roles/cadvisor"]
	path = roles/cadvisor
	url = https://github.com/oxivanisher/role-cadvisor.git
[submodule "roles/jump_host"]
	path = roles/jump_host
	url = https://github.com/oxivanisher/role-jump_host.git
[submodule "roles/ansible_userspace"]
	path = roles/ansible_userspace
	url = https://github.com/oxivanisher/role-ansible_userspace.git
[submodule "roles/html_inventory"]
	path = roles/html_inventory
	url = https://github.com/oxivanisher/role-html_inventory.git
