[submodule "roles/mysql"]
	path = roles/mysql
	url = https://github.com/oxivanisher/role-mysql.git
[submodule "roles/cadvisor"]
	path = roles/cadvisor
	url = https://github.com/oxivanisher/role-cadvisor.git
[submodule "roles/jump_host"]
	path = roles/jump_host
	url = https://github.com/oxivanisher/role-jump_host.git
