[submodule "roles/mysql"]
	path = roles/mysql
	url = https://github.com/oxivanisher/role-mysql.git
[submodule "roles/cadvisor"]
	path = roles/cadvisor
	url = https://github.com/oxivanisher/role-cadvisor.git
[submodule "roles/jump_host"]
	path = roles/jump_host
	url = https://github.com/oxivanisher/role-jump_host.git
[submodule "roles/ansible_userspace"]
	path = roles/ansible_userspace
	url = https://github.com/oxivanisher/role-ansible_userspace.git
[submodule "roles/html_inventory"]
	path = roles/html_inventory
	url = https://github.com/oxivanisher/role-html_inventory.git
[submodule "roles/openvpn_client"]
	path = roles/openvpn_client
	url = https://github.com/oxivanisher/role-openvpn_client.git
[submodule "roles/portainer"]
	path = roles/portainer
	url = https://github.com/oxivanisher/role-portainer.git
[submodule "roles/ufw"]
	path = roles/ufw
	url = https://github.com/oxivanisher/role-ufw.git
